{% extends "wishlist_page/base_wishlist.html" %}
{% block content %}
<div class="max-w-5xl mx-auto py-6">
    <div hx-get="{{ base_url }}/wishlist/active-downloads" 
         hx-trigger="load, every 1s" 
         hx-swap="innerHTML">
         <div class="flex flex-col items-center justify-center p-20 gap-4">
            <span class="loading loading-spinner loading-lg text-primary"></span>
            <span class="text-sm font-mono opacity-50">Loading active downloads...</span>
         </div>
    </div>
</div>
{% endblock content %}
