<div id="tablist" hx-swap-oob="True" role="tablist" class="tabs tabs-box app-tabs">
    <a preload href="{{ base_url }}/wishlist" role="tab"
        class="tab {% if page=='wishlist' %}tab-active{% endif %} relative">
        Requests
        <p class="absolute badge badge-xs right-0 top-0 border-0 bg-transparent opacity-70">{{ counts.requests }}</p>
    </a>
    <a preload href="{{ base_url }}/wishlist/downloading" role="tab"
        class="tab {% if page=='downloading' %}tab-active{% endif %}">
        Downloading
        <p class="absolute badge badge-xs right-0 top-0 border-0 bg-transparent opacity-70">{{ counts.downloading }}</p>
    </a>
    <a preload href="{{ base_url }}/wishlist/attention" role="tab"
        class="tab {% if page=='attention' %}tab-active{% endif %}">
        Needs Attention
        <p class="absolute badge badge-xs right-0 top-0 border-0 bg-transparent opacity-70">{{ counts.attention }}</p>
    </a>
    <a preload href="{{ base_url }}/wishlist/manual" role="tab"
        class="tab {% if page=='manual' %}tab-active{% endif %}">
        Manual
        <p class="absolute badge badge-xs right-0 top-0 border-0 bg-transparent opacity-70">{{ counts.manual }}</p>
    </a>
</div>
