services:
  web:
    # start with `docker compose --profile local up`
    profiles: [ local ]
    build:
      context: .
      args:
        - VERSION=local
    volumes:
      - ./config:/config
      - ./testing/metadata_output/:/tmp/audiobook_metadata
      - ./library:/library
      - ./data/qbittorrent/downloads:/downloads
      - ./IMPORTER:/import
    ports:
      - "8697:8000"
    depends_on:
      - psql
      - qbittorrent

  gotify:
    image: gotify/server
    ports:
      - "8080:80"
    volumes:
      - ./data/gotify/data:/app/data

  psql:
    image: postgres:15
    environment:
      POSTGRES_USER: abr
      POSTGRES_PASSWORD: password
      POSTGRES_DB: audiobookrequest
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - TZ=Etc/UTC
      - WEBUI_PORT=8081
    volumes:
      - ./data/qbittorrent/config:/config
      - ./data/qbittorrent/downloads:/downloads
    ports:
      - "8081:8081"
      - "6881:6881"
      - "6881:6881/udp"
    restart: unless-stopped
