services:
  audiobookrequest:
    build: .
    # image: ghcr.io/zippy-boy/narrarr:latest
    ports:
      - "8000:8000"
    environment:
      - ABR_APP__CONFIG_DIR=/config
    volumes:
      - ./abr_config:/config
      - ./library:/library
      - ./import:/import
      - ./qbt_downloads:/downloads

