---
import NoAuthLayout from "@/layouts/NoAuthLayout.astro";

let backup = ["1", "true"].includes(
    Astro.url.searchParams.get("backup")?.toLowerCase() ?? "0",
);
const redirectUri = Astro.url.searchParams.get("redirect_uri") ?? "/";

let error: string | null = null;
switch (Astro.locals.loginType) {
    case "basic":
    case "none":
        return Astro.redirect(redirectUri);
    case "forms":
        backup = false;
        break;
    case "oidc":
        if (!backup) {
            return Astro.redirect(
                `/auth/oidc/login?redirect_uri=${encodeURIComponent(redirectUri)}`,
            );
        }
        break;
    case "not_set":
        console.log("Login type not set, redirecting to init");
        return Astro.redirect("/auth/init");
    default:
        error = "Failed to access the backend API.";
}
---

<NoAuthLayout head={{ title: "Login" }}>
    <div class="h-screen w-full flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold mb-8">AudioBookRequest</h1>
        {
            error ? (
                <p class="text-error">Internal server issue: {error}</p>
            ) : (
                <>
                    <form
                        id="login-form"
                        class="flex flex-col gap-2 w-80 sm:w-120 px-4 mb-2"
                    >
                        <input
                            type="hidden"
                            name="redirect_uri"
                            value={redirectUri}
                        />
                        {backup ? (
                            <>
                                <h1 class="text-xl">Backup Login</h1>
                                <p class="text-error">
                                    This instance has OIDC enabled. This login
                                    can only be used by the root admin.
                                </p>
                            </>
                        ) : (
                            <h1 class="text-xl">Login</h1>
                        )}
                        <label for="username">Username</label>
                        <input
                            name="username"
                            type="text"
                            class="input w-full"
                            required
                        />
                        <label for="password">Password</label>
                        <input
                            name="password"
                            type="password"
                            class="input w-full"
                            required
                        />
                        <button
                            id="login-submit"
                            class="btn btn-primary"
                            type="submit"
                        >
                            Login
                        </button>
                    </form>
                    <p id="form-error" class="text-error hidden h-0" />
                </>
            )
        }
    </div>
</NoAuthLayout>

<script>
    import { loginAccessTokenApiAuthTokenPost } from "@/client";
    import { client } from "@/lib/client";

    (() => {
        const form = document.getElementById(
            "login-form",
        ) as HTMLFormElement | null;
        const error = document.getElementById("form-error");
        const submit = document.getElementById(
            "login-submit",
        ) as HTMLButtonElement | null;
        if (!form || !error || !submit) {
            console.error("Element not found", { form, error, submit });
            return;
        }

        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            error.innerText = "";
            error.classList.add("hidden");
            submit.disabled = true;

            const username = form.elements.namedItem(
                "username",
            ) as HTMLInputElement | null;
            const password = form.elements.namedItem(
                "password",
            ) as HTMLInputElement | null;
            const redirectUri = form.elements.namedItem(
                "redirect_uri",
            ) as HTMLInputElement | null;

            if (!username || !password || !redirectUri) {
                console.error("Form element not found", {
                    username,
                    password,
                });

                error.innerText =
                    "Internal error: Form element not found. This is an AudioBookRequest issue.";
                error.classList.remove("hidden");
                submit.disabled = false;
                return;
            }

            const { error: errorObj, request } =
                await loginAccessTokenApiAuthTokenPost({
                    client,
                    body: {
                        username: username.value,
                        password: password.value,
                    },
                });

            if (errorObj) {
                const errorMessage =
                    errorObj instanceof Error
                        ? errorObj.message
                        : JSON.stringify(error);
                error.innerText = errorMessage;
                error.classList.remove("hidden");
                submit.disabled = false;
            } else {
                if (redirectUri.value) {
                    window.location.href = redirectUri.value;
                } else {
                    window.location.href = "/";
                }
            }
        });
    })();
</script>
