---
import NoAuthLayout from "@/layouts/NoAuthLayout.astro";
import { getLoginTypeApiAuthTypeGet } from "@/client";
import { getUser } from "@/lib/auth";

const { data: loginType, error } = await getLoginTypeApiAuthTypeGet();
let errorMessage =
    error instanceof Error ? error.message : JSON.stringify(error);
if (errorMessage === "fetch failed") {
    errorMessage = "Unable to connect to backend API";
}

let backup = ["1", "true"].includes(
    Astro.url.searchParams.get("backup")?.toLowerCase() ?? "0",
);
const redirectUri = Astro.url.searchParams.get("redirect_uri") ?? "/";

switch (loginType?.login_type) {
    case "basic":
    case "none":
        return Astro.redirect(redirectUri);
    case "forms":
        backup = false;
        break;
    case "oidc":
        if (!backup) {
            return Astro.redirect(
                `/auth/oidc/login?redirect_uri=${encodeURIComponent(redirectUri)}`,
            );
        }
        break;
    case "not_set":
        console.log("Login type not set, redirecting to init");
        return Astro.redirect("/auth/init");
}
---

<NoAuthLayout head={{ title: "Login" }}>
    <div class="h-screen w-full flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold mb-8">AudioBookRequest</h1>
        {
            error ? (
                <p class="text-error">Internal server issue: {errorMessage}</p>
            ) : (
                <>
                    <form
                        id="login-form"
                        class="flex flex-col gap-2 w-80 sm:w-120 px-4 mb-2"
                        method="post"
                        action="/api/auth/token"
                    >
                        <input
                            type="hidden"
                            name="redirect_uri"
                            value={redirectUri}
                        />
                        {backup ? (
                            <>
                                <h1 class="text-xl">Backup Login</h1>
                                <p class="text-error">
                                    This instance has OIDC enabled. This login
                                    can only be used by the root admin.
                                </p>
                            </>
                        ) : (
                            <h1 class="text-xl">Login</h1>
                        )}
                        <label for="username">Username</label>
                        <input
                            id="username"
                            name="username"
                            type="text"
                            class="input w-full"
                            required
                        />
                        <label for="password">Password</label>
                        <input
                            id="password"
                            name="password"
                            type="password"
                            class="input w-full"
                            required
                        />
                        <button class="btn btn-primary" type="submit">
                            Login
                        </button>
                    </form>
                    <p id="form-error" class="text-error hidden h-0" />
                </>
            )
        }
    </div>
</NoAuthLayout>

<script>
    (() => {
        const form = document.getElementById(
            "login-form",
        ) as HTMLFormElement | null;
        const error = document.getElementById("form-error");
        const submit = document.getElementById(
            "login-submit",
        ) as HTMLButtonElement | null;
        if (!form || !error || !submit) {
            console.error("Element not found", { form, error, submit });
            return;
        }

        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            error.innerText = "";
            error.classList.add("hidden");
            submit.disabled = true;

            try {
                const response = await fetch(form.action, {
                    method: form.method,
                    body: new FormData(form),
                });
                if (!response.ok) {
                    error.innerText =
                        (await response.json())["detail"] ??
                        response.statusText;
                    error.classList.remove("hidden");
                } else {
                    window.location.href =
                        response.headers.get("HX-Redirect") || "/";
                }
            } catch (err) {
                error.innerText =
                    "Unknown error occurred during login. Please try again.";
                error.classList.remove("hidden");
            } finally {
                submit.disabled = false;
            }
        });
    })();
</script>
