{#def
    results: list[ManualBookRequest],
    user: DetailedUser,
    counts: WishlistCounts,
#}

<WishlistLayout title="Manual" user={{ user }} counts={{ counts }} page="manual">
<div class="overflow-x-auto h-[75vh] border-b pb-2 border-b-base-200">
    <Wishlist.ManualWishlist results={{ results }} user={{ user }} counts={{ counts }} />
</div>
</WishlistLayout>
