<!-- Book Card Component -->
<div class="flex flex-col group">
    <div
        class="relative w-[8rem] h-[8rem] sm:w-[10rem] sm:h-[10rem] rounded-lg overflow-hidden shadow-md border border-base-300 bg-base-300 group-hover:shadow-lg transition-shadow">
        {% if book.cover_image %}
        <img class="object-cover w-full h-full group-hover:scale-110 transition-transform duration-500 ease-in-out"
            height="128" width="128" src="{{ book.cover_image }}" alt="{{ book.title }}" />
        {% else %}
        {% include "icons/photo-off.html" %}
        {% endif %}

        <!-- Request Button -->
        <button
            class="absolute top-0 left-0 rounded-none rounded-br-lg btn-sm btn btn-square items-center justify-center flex {% if book.downloaded or already_requested %}btn-ghost bg-success text-success/20{% else %}btn-info{% endif %}"
            hx-post="{{ base_url }}/search/request/{{ book.asin }}" hx-disabled-elt="this" hx-target="closest div.flex"
            hx-swap="outerHTML" hx-on:click="this.disabled = true;" {% if book.downloaded or already_requested
            %}disabled{% endif %}>

            {% if book.downloaded or already_requested %}
            <span>{% include "icons/checkmark.html" %}</span>
            {% else %}
            {% if auto_start_download and user.can_download() %}
            <span>{% include "icons/download.html" %}</span>
            {% else %}
            <span>{% include "icons/plus.html" %}</span>
            {% endif %}
            {% endif %}
        </button>
    </div>

    <!-- Book Info -->
    <div class="pt-2 flex flex-col gap-1">
        {% if book.asin %}
        <a href="{{ base_url }}/book/{{ book.asin }}" 
           class="text-xs text-primary font-bold hover:underline line-clamp-2" 
           title="{{ book.title }}">
            {{ book.title }}
        </a>
        {% else %}
        <div class="text-xs text-primary font-bold line-clamp-2" title="{{ book.title }}">
            {{ book.title }}
        </div>
        {% endif %}

        {% if book.subtitle %}
        <div class="opacity-60 font-semibold text-xs line-clamp-1" title="{{ book.subtitle }}">
            {{ book.subtitle }}
        </div>
        {% endif %}

        <div class="text-xs opacity-70 line-clamp-1" title="Authors: {{ book.authors | join(', ') }}">
            {% for author in book.authors[:1] %}
            <a href="{{ base_url }}/search?q={{ author }}" title="Search for {{ author }}" class="hover:underline">
                {{ author }}
            </a>
            {% endfor %}
            {% if book.authors | length > 1 %}
            <span>+{{ book.authors | length - 1 }}</span>
            {% endif %}
        </div>

        <!-- Runtime -->
        {% if book.runtime_length_hrs %}
        <div class="text-xs opacity-60">
            {{ book.runtime_length_hrs }}h
        </div>
        {% endif %}
    </div>
</div>
