{#def
    user: DetailedUser,
    book: ManualBookRequest | None,
    auto_download: bool,
#}

<BaseLayout title="Manual Entry" user={{ user }}>
<div class="w-screen max-w-480 flex flex-col items-center justify-center p-8 overflow-x-hidden gap-4">
    <h1 class="text-3xl font-bold text-left w-full">
        Manual Request
    </h1>
    <Manual.Form book={{ book }} auto_download={{ auto_download }} />
</div>
</BaseLayout>
